.row {
    --bs-gutter-x: 0; /* Override the horizontal gutter */
    --bs-gutter-y: 0; /* Override the vertical gutter */
}

#CWP_body {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 60px;
    height: calc(100vh - 10px);
    overflow: hidden;
}

.CWP_sidenav {
    float: left;
    background-color: #E4F1F8;
    outline: 1px;
    outline-color: black;
    overflow: hidden;
    height: 100vh;
}

.nav-item {
    width: 100%; /* Ensure the item takes up the full width */
    background-color: transparent;
    display: block;
    margin-bottom: 10px; /* Add some space between items */
}

.nav-link {
    width: 100%; /* Ensure the button takes up the full width */
    background-color: transparent;
    border: none;
    text-align: left; /* Align text to the left */
    padding: 10px; /* Add padding for better spacing */
    cursor: pointer;
    margin-top: 10px;
}

    .nav-link:hover {
        background-color: #439CCD;
        color: black;
    }

.CWP_content {
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-areas:
        "header"
        "main";
    float: right;
    background-color: white;
   /* overflow: auto;
    height: calc(100vh - 60px);*/
}

.CWP_content-header {
    grid-area: header;
    /*padding-top: 10px;*/
    background-color: #E4F1F8;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

    .CWP_content-header h1 {
        margin-left: 10px;
    }

#CW_inbox {
    grid-area: main;
    overflow: auto;
}

.CWP-header-buttons {
    display: flex;
    gap: 10px; 
    text-align: center;
}
.CWP-header-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 4px 8px; 
    cursor: pointer;
}

.CWP-filter-button {
    float: right;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 4px 8px; 
    cursor: pointer;
    text-align: center;
}

    .CWP-header-button:hover, .CWP-filter-button:hover {
        background-color: #0056b3;
    }

.CWP-filter-menu {
    position: fixed;
    top: 60px;  
    height: 90%;
    right: -300px;
    width: 300px; 
    background-color: #f8f9fa;
    transition: right 0.3s ease;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.CWP-filter-menu.open {
    right: 0;
    overflow: hidden;
}

.form-group {
    margin-bottom: 10px;
}

.CWP-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.CWP-apply-button, .CWP-reset-button {
    
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.CWP-reset-button {
    background-color: #dc3545;
}

