
.CWP_menu, .CWP_main {
    position: absolute;
    padding-top: 99px; /* Adjust based on the height of the nav-bar */
    bottom: 0;
}

.CWP_menu {
    left: 0;
    width: 20%;
    background-color: azure;
    box-sizing: border-box;
    z-index: 1; /* Ensure menu is below main content */
}

.nav-item {
    border: 1px solid #ccc; /* Light gray border */
    padding: 10px; /* Add some padding for better spacing */
    margin-bottom: 10px; /* Add some space between items */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.nav-item .nav-link {
    color: #000; /* Optional: Set the text color */
    text-decoration: none; /* Optional: Remove underline from links */
    }

.nav-item .nav-link:hover {
    color: #007bff; /* Optional: Change text color on hover */
        }

.CWP_main {
    right: 0;
    left: 20%;
    background-color: white;
    box-sizing: border-box;
    z-index: 2; /* Ensure main content is above menu */
}

.CWP-filter-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2000; /* Ensure button is above other elements */
}

.CWP-filter-menu {
    position: fixed;
    top: 91px; /* Adjust this value based on the height of your nav-bar */
    right: -300px;
    width: 300px;
    height: calc(100vh - 91px); /* Adjust this value based on the height of your nav-bar */
    background-color: #f8f9fa;
    transition: right 0.3s ease;
    padding: 30px;
    box-sizing: border-box;
    z-index: 999; /* Ensure this is higher than the nav-bar's z-index */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CWP-filter-menu.open {
    right: 0;
}

.CWP-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.CWP-apply-button, .CWP-reset-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.CWP-reset-button {
    background-color: #dc3545;
}

