/*
**************************************
***  Styling for the mapPage view  ***
**************************************
*/


/* Wrapper for whole mapPage View */
.map-page-wrapper {
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}

/* Wrapper for the map and form (case input) */
.map-and-control-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

/* Style for the map */
.map {
    height: 90%;
    width: 100%; /* Set the width of the map */
    background: white; /* or another color (NB! FOR TESTING) */
    display: flex;
}


/* Wrapper for case input sidebar */
.case-input-wrapper {
    background-color: #f8f9fa;
    width: 30%;
    display: none; /* Starts as hidden */
    flex-direction: column;
}

/* The bottom bar with buttons for interacting with the map */
.control-button-bar {
    width: 100%;
    height: 10%;
    background: blue;
    display: flex;

}

/* The button group for the map */
.map-button-group {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* div for new case button */
.new-case {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Style for the button in new-case div */
.new-case button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0 5px;
    height: 70%;
    width: 20%;
}

/* Style for every button in the .map-button-group div */
.map-button-group button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0 5px;
    height: 70%;
    width: 20%;
}

/*  Active button style */
.map-button.active {
    background-color: green;
    color: white;
}

/* Places the buttons next to each other */
.submit-cancel-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; /* Center horizontally */
}


/* Popup in the centre of the screen */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts the popup to be functionally centered */
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it is above other elements */
    /*display: block; /* Start as hidden */
}

/* Overlay the screen when a popup comes (may get some function) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500; /* Ensure it is below the popup but above other elements */
    /*display: none; /* Start as hidden */
}

/*************************************/
/* Sector for the different overlays */    
/*************************************/


/* Insert phone number */
#insert-phone-number-overlay.overlay {
    display: none;
}

#insert-phone-number.popup {
    display: none;
}

/* Close popup (overlay) */
#popup-overlay.overlay {
    display: none;
}

/* New case explanation */
#new-case-explanation.popup {
    display: none;
}

/* Avbryt case */
#avbryt-case.popup {
    display: none;
}

/* Submit case */
#submit-case-popup.popup {
    display: none;
}

/* Case submitted */
#case-submitted.popup {
    display: none;
}

/* Max features */
#max-features.popup {
    display: none;
}

/* Delete features */
#delete-features.popup {
    display: none;
}

/* Explanation for how to fill out the form */
#case-submit-help.popup {
    display: none;
}