@model Gruppe6_Kartverket.Mvc.Models.ViewModels.CaseRegistrationModel

@{
    ViewData["Title"] = "Map Page";
}

@section HeadContent {
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="~/css/mapPage.css" asp-append-version="true" />
}

<div class="map-page-wrapper">
    <div class="map-and-control-wrapper">
        <div class="map" id="map"></div>
        <div class="control-button-bar">
            <div class="new-case" id="new-case">
                <button class="btn" id="new-case-button">Ny sak</button>
            </div>
            <div class="map-button-group" id="map-button-group">
                <button class="map-button" data-select="Point">Punkt</button>
                <button class="map-button" data-select="LineString">Linje</button>
                <button class="map-button" data-select="Polygon">Flate</button>
                <button class="map-button" data-select="Delete">Slett</button>
            </div>
            <input type="hidden" id="actionType" value="None">
        </div>
    </div>
    <div class="case-input-wrapper" id="case-input-wrapper">
        <form asp-controller="MapPage" asp-action="MapPage" id="CaseForm" method="post" enctype="multipart/form-data">
            <p>
            <div>
                <label asp-for="CaseTitle">Tittel på case:</label>
                <input asp-for="CaseTitle" placeholder="Skriv inn tittel" />
                <span asp-validation-for="CaseTitle" class="text-danger"></span>
            </div>
            </p>
            <p>
            <div>
                <label asp-for="Kategori">Kategori:</label>
                <select asp-for="Kategori">
                    <option value="" selected disabled>Velg kategori</option>
                    <option value="Hindring">Hindring</option>
                    <option value="Vei">Vei</option>
                    <option value="Sti">Sti</option>
                    <option value="Adresse">Adresse</option>
                    <option value="Tunell">Tunell</option>
                    <option value="Annet">Annet</option>
                </select>
            </div>
            </p>
            <p>
            <div>
                <label asp-for="Beskrivelse">Beskrivelse:</label>
                <input asp-for="Beskrivelse" placeholder="Beskriv problemet her" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            </p>
            <p>
            <div>
                <label for="file">Vedlegg:</label>
                <input type="file" name="file" />
            </div>
            </p>
            <input asp-for="GeoJson" type="hidden" id="geoJsonInput"/>
            <input asp-for="CenterLongitude" type="hidden" id="centerLongitudeInput"/>
            <input asp-for="CenterLatitude" type="hidden" id="centerLatitudeInput"/>
        </form>
        <div class="submit-cancel-wrapper">
            <button class="cancel-case-button" id="cancel-case-button">Avbryt</button>

            <!-- Gray the button out intill we are able to submit -->
            <button class="submit-case">Send inn</button>
        </div>
    </div>
</div>

<!-- Section for Popups -->
<div class="overlay-and-popup">
    <div class="overlay" id="insert-phone-number-overlay"></div>
    <div class="overlay popup-close" id="popup-overlay"></div>

    <div class="popup" id="insert-phone-number">
        <h2>Telefonnummer</h2>
        <p>"Legg til forklaring her"</p>
        <div>
            <input type="text" placeholder="Telefonnummer">
            <button>Verifiser</button>
            <button style="display: none;">Gå videre</button>
            <button class="popup-close">Close</button>
        </div>
    </div>

    <div class="popup" id="new-case-explanation">
        <h2>Ny registrering</h2>
        <p>"Legg til praktisk info her"</p>
        <div>
            <button onclick="location.href='@Url.Action("LogIn", "Account")'">Logg inn</button>
            <button id="to-tlf-popup">Telefonnummer</button>
            <button class="popup-close">Close</button>
        </div>
    </div>

    <div class="popup" id="delete-features">
        <h2>Det er ingen flere tegninger å slette</h2>
        <button class="popup-close">Close</button>
    </div>

    <div class="popup" id="submit-case-popup">
        <h2>Send inn?</h2>
        <p>Ønsker du å sende inn saken?</p>
        <button class="submit-case-confirmation">Send inn</button>
        <button class="popup-close">Tilbake</button>
    </div>

    <div class="popup" id="case-not-valid">
        <h2>Ikke alle felt er fylt inn</h2>
        <p>Pass på at alle feltene er fylt inn og at det er tegnet en figur på kartet.</p>
        <button class="popup-close">Ok</button>
    </div>

    <div class="popup" id="avbryt-case">
        <h2>Avbryt?</h2>
        <p>Ønsker du å avbryte? Dette vil slette all informasjon som er lagt inn.</p>
        <button class="cancel-case-confirmation">Avbryt</button>
        <button class="popup-close">Tilbake</button>
    </div>

    <div class="popup" id="case-submit-help">
        <h2>Hvordan registrere sak</h2>
        <p>"Legg inn forklaring/hjelp på hvordan sende inn case"</p>
        <button class="popup-close">Close</button>
    </div>

    @if (ViewBag.ShowSubmittedPopup == true)
    {
        <div class="popup" id="case-submitted">
            <h2>Sak innsendt</h2>
            <p>"Sak innsendt tekst" <br />"Info fra innsendingen"</p>
            <button class="popup-close">Lukk</button>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("popup-overlay").style.display = "block";
                function resetCaseForm() {
                    var form = document.getElementById("CaseForm");
                    form.reset();
                };
                resetCaseForm();
            });
        </script>
    }
</div>

<p hidden id="loggedIn">@ViewBag.LoggedIn</p>

@section Scripts {
    <script type="module" src="~/js/ol_map4.js"></script>
    <script>
        function resetCaseForm() {
            var form = document.getElementById("CaseForm");
            form.reset();
        };
    </script>
}