@{
    ViewData["Title"] = "Home Page";
}

@section HeadContent {
<!-- Link to CSS file -->
    <link rel="stylesheet" href="~/css/mapPage.css" asp-append-version="true" />
}

<div class="site-wrapper">
    <div class="map" id="map">
        <p>Map</p>
    </div>
</div>

<div style="display: none;">
    <div id="popup"></div>
</div>


@section Scripts {
    <!--<script type="module" src="~/js/ol_map4.js"></script>-->
}