@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Testing the Map in this page</p>
    <div id="map"></div>
    <p>Tekst under kartet1</p>
</div>

@section Scripts {
    <script type="module" src="~/js/map.js"></script>
}