<div class="site-wrapper">
    <h1>Kontakt oss</h1>

    <p><strong>Telefon:</strong> 32 11 80 00.<strong> E-post: </strong><a href="mailto:post@kartverket.no">post@kartverket.no</a><br>Av omsyn til personvern ber vi deg om å ikke sende oss fødselsnummer og andre sensitive opplysninger på e-post.</p>
    <br><br> 
    <p><strong>Organisasjonsnummer: </strong>971 040 238</p>
    <p><a title="Pressekontaktar" href="/om-kartverket/presse">Pressekontaktar</a> i Kartverket</p>
</div>