@model Gruppe6_Kartverket.Mvc.Models.ContactUsModel


<main>
    <article>
        <div class="topicpageheading">
            <div class="topicpageheading-content sectioncontainer">
                <div class="topicpageheading-headline">
                    <h1>Kontakt oss</h1>
                </div>
            </div>
        </div>

        <div class="contentsection" data-contentarea-itemcount="1" data-contentarea-layout="blocksinrows">
            <div class="contentsection-sectioncontainer sectioncontainer">
                <div class="contentsection-contentarea">
                    <div class="bodytextblock" data-block="" data-block-index="0" data-block-siblings="1" data-textblock-columns="false" data-textblock-ignorewidthconstraint="false">
                        <div class="bodytextblock-text">
                            <p><strong>Telefon:</strong> 32 11 80 00.<strong> E</strong><strong>-post: </strong><a href="mailto:post@kartverket.no">post@kartverket.no</a><strong><br></strong>Av omsyn til personvern ber vi deg om å ikke sende oss fødselsnummer og andre sensitive opplysninger på e-post.<br><strong> <br><br> Organisasjonsnummer: </strong>971 040 238</p>
                            <p><a title="Pressekontaktar" href="/om-kartverket/presse">Pressekontaktar</a> i Kartverket</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</main>
