@model Gruppe6_Kartverket.Mvc.Models.LogInModel

@section HeadContent {
    <link rel="stylesheet" href="~/css/logIn.css">
}

@{
    ViewData["Title"] = "Logg inn";
}

<h2>@ViewData["Title"]</h2>

<div class="login-wrapper">
    <div class="login-container">
        <h1>Logg inn</h1>
        <form asp-controller="Account" asp-action="LogIn" method="post">
            <div class="form-group">
                <label asp-for="Email"><b>E-post</b></label>
                <input asp-for="Email" class="form-control" required autocomplete="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"><b>Passord</b></label>
                <input asp-for="Password" class="form-control" required autocomplete="current-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Logg inn</button>
        </form>
        <a href="#" class="reset-link">Glemt passord?</a>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
