@model SettingsModel

@{
    ViewData["Title"] = "Settings";
}

@section HeadContent {
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="~/css/Settings.css">
}
<nav class="navbar">
    <a href="/">Hjem</a>
    <a href="/settings">Innstillinger</a>
    <a href="/contact">Kontakt oss</a>
</nav>
<div class="site-wrapper">
    <h1>Settings</h1>
    <p>Kontakt oss på tlf: 32 11 80 00, for mer informasjon se "kontakt oss" på bunnen</p>
    <p>Versjon-nummer: 4.20</p>
    <a href="https://www.kartverket.no/om-kartverket/kontakt-oss" class="contact-link">Kontakt oss</a>
</div>
