@model SettingsModel

@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}

@section HeadContent {
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="~/css/Settings.css">
}

<div class="Setting-innhold">
        <h1>Settings</h1>
        <p>Contact us at phone: 32 11 80 00, for more information see "contact us" at the bottom</p>
        <p>Version number: 4.20</p>
        <a href="https://www.kartverket.no/om-kartverket/kontakt-oss" class="contact-link">Contact us</a>
</div>

