@model SettingsModel

@{
ViewData["Title"] = "Settings";
}

@section HeadContent {
<!-- Link to CSS file -->
<link rel="stylesheet" href="~/css/site.css">
}

<div class="SettingClass">
    <h1>Settings</h1>
    <p>
        Frå det ytste verdsrommet til dei djupaste havbotnar
        Frå sjø til land, og frå det ytste verdsrommet til dei djupaste havbotnar. Kartverkets arbeidsfelt er omfattande og mangfaldig.
        Kartverket har om lag 820 tilsette. Øvste leiar for Kartverket er kartverkssjef Johnny Welle. Han er tilsett for eit åremål på seks år frå 2020 og har denne leiargruppa rundt seg:
    </p>
</div>