@model Gruppe6_Kartverket.Mvc.Models.RegistrationFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <header>
                <title>Login</title
    </header>
<body>
    <h1>Enter login information:</h1>
</body>
</html>