@model Gruppe6_Kartverket.Mvc.Models.RegistrationFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Bruker registrert";
}
@section HeadContent {
    <link rel="stylesheet" href="~/css/login.css">
}

<h2>@TempData["Success"]</h2>
<p>You will be directed to the login page in <span id="countdown">7</span> seconds...</p>
<script>
    var seconds = 7;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) {
            clearInterval(countdown);
            window.location = "/LogIn/LogIn";
        }
    }, 1000);
</script>