@{
    ViewData["Title"] = "Map Test";
}

<div>
    <p>Testing the Map in this page</p>
</div>
<div id="map"></div>
<script type="module" src="~/js/map.js"></script>
<div>
    <p>Tekst under kartet1</p>
</div>